.commentWrap, .wrapBg {
  position: absolute;
  bottom: -90%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 95%;
  background: rgb(255, 171, 171);
  opacity: 0;
}

.commentWrap.activeComment, .wrapBg.activeBg {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background: rgb(255, 171, 171);
  opacity: 1;
}

.commentWrap {
  padding: 10% 8%;
  box-sizing: border-box;
  background: rgb(255, 171, 171);
  transition: all .4s cubic-bezier(0.9, 0, 0.33, 1);
  overflow-y: scroll;
}

.wrapBg {
  background: rgb(255, 171, 171);
  transition: all 1s cubic-bezier(0.9, 0, 0.33, 1);
  opacity: 0;
}

.commentWrap.activeComment {
  height: 90%;
  background: rgb(255, 171, 171);
  opacity: 1;
  transition: all .7s cubic-bezier(0.9, 0, 0.33, 1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  z-index: 20;
}

.wrapBg.activeBg {
  height: 100%;
  background: #878787;
  opacity: .8;
  transition: all .5s cubic-bezier(0.9, 0, 0.33, 1);
  z-index: 10;
}

.closeBtn {
  position: absolute;
  top: 1%;
  right: 1%;
  width: 5%;
  height: 5%;
}

.closeBtn > svg {
  width: 100%;
  height: 100%;
}
