.weatherWrap {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #f4f4f4;
}

.weatherInner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 80%;
  background: rgb(255, 175, 175);
  border-radius: 30px;
  box-shadow: 17px 13px 0px 0px rgba(0,0,0,0.75);
  padding: 5%;
  box-sizing: border-box;
  text-align: center;
}

.location {
  font-size: 60px;
  font-weight: 600;
  color: #212121;
  letter-spacing: 4px;
}

.weatherIcon {
  width: 45%;
}

.weatherTemp {
  font-size: 60px;
  font-weight: 700;
  color: rgb(0, 0, 0);
}

.highAndLowTemp {
  font-size: 30px;
  font-weight: 600;
  color: rgb(0, 0, 0);
  margin-top: 2%;
  letter-spacing: 3px;
}


/* 반응형 css */

/* 420 이하 */
@media screen and (max-width: 619px) {
  .weatherInner {
    width: 100vw;
    height: 100vh;
    background: rgb(255, 175, 175);
    border-radius: 0;
    padding: 10%;
    box-sizing: border-box;
    text-align: center;
  }
  .location {margin-top: 25%; font-size: 30px;}
  .weatherIcon {width: 60%; margin-top: 5%;}
  .weatherTemp {margin-top: 10%; font-size: 40px;}
  .highAndLowTemp {margin-top: 10%; font-size: 20px;}
}

/* 421이상 859이하 */
@media screen and (min-width:620px) and (max-width: 859px) {
  .weatherInner {
    width: 100vw;
    height: 100vh;
    background: rgb(255, 175, 175);
    border-radius: 0;
    padding: 20%;
    box-sizing: border-box;
    text-align: center;
  }
  .location {margin-top: 5%; font-size: 50px;}
  .weatherIcon {width: 60%; margin-top: 5%;}
  .weatherTemp {margin-top: 10%; font-size: 50px;}
  .highAndLowTemp {margin-top: 5%; font-size: 30px;}
}

/* 860이상 1083이하 */
@media screen and (min-width:860px) and (max-width: 1083px) {
  .weatherInner {padding: 10%}
  .weatherIcon {width: 100%; margin-top: 5%;}
  .weatherTemp {margin-top: 15%; font-size: 70px;}
  .highAndLowTemp {margin-top: 10%; font-size: 40px;}
}

	